.user-detail-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  height: 100%;
  animation: fade-in 0.5s ease-in-out both;
}

.user-detail-linkId-body{
  text-align: left;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  font-size: 1.2rem;
  color: #3366CC;
  cursor: pointer;
}

.user-detail-body {
  padding-left: 50px;
  padding-right: 50px;
}

.user-detail-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 2rem;
  animation: fade-in 0.5s ease-in-out both;
}

.user-detail-name,
.user-detail-email,
.user-detail-status,
.user-detail-score,
.user-detail-linkId,
.user-detail-startedOn {
  text-align: left;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  font-size: 1.2rem;
}

.user-detail-name {
  font-weight: bold;
  animation: fade-in 0.5s ease-in-out both, slide-in-left 0.5s ease-in-out both;
}

.user-detail-row:nth-child(even) {
  background-color: #f9f9f9;
  animation: fade-in 0.5s ease-in-out both;
}

.user-detail-row:hover {
  background-color: #ddd;
  animation: fade-in 0.5s ease-in-out both 0.5s ease-in-out both;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
} 

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
